body {
  --accent-color: rgb(223, 81, 15);
  --background-color: white;
  --text-color: black;
  --button-text-color: var(--background-color);
  --transition-delay: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;

  transition: var(--transition-delay);

  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --accent-color: rgb(197, 197, 61);
  --background-color: #333;
  --text-color: white;
}

.title {
  margin-top: 10rem;
}

.theme-toggle-button {
  padding: 15px;
  font-size: 1.5em;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);
}

.theme-toggle-button:hover {
  transform: scale(1.1);
}

.theme-toggle-button .icon {
  margin-right: 0.5em;
}

.sun-moon-container {
  --rotation: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  pointer-events: none;
  top: 0;
  height: 200vmin;
  transform: rotate(var(--rotation));
}

.dark .sun-moon-container {
  --rotation: 180deg;
}

.sun,
.moon {
  position: absolute;
  transition: opacity, fill, var(--transition-delay);
  width: 30px;
  height: 30px;
  fill: var(--accent-color);
}

.sun {
  top: 2%;
  opacity: 1;
}

.dark .sun {
  opacity: 0;
}

.moon {
  bottom: 2%;
  opacity: 0;
  transform: rotate(180deg);
}

.dark .moon {
  opacity: 1;
}

p {
  font-size: 1.5em;
  padding: 50px 50px 0px 50px;
}
